<!DOCTYPE html>
<html th:lang="${htmlLang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: htmlHead"></head>
<body>
<section th:replace="fragments/header :: baseElements"></section>
<header th:replace="fragments/header :: topBar"></header>

<div class="container-lg p-3 p-responsive width-full">

  <div class="blankslate" th:if="${activeUser}">
    <h3 class="mb-1" th:text="#{home.greeting(${activeUser.getName()})}">
      home.greeting
    </h3>
    <p th:text="#{home.actions}">home.actions</p>
    <div class="BtnGroup my-3">
      <a class="btn BtnGroup-item btn-large" th:href="@{/inventory/scan/in}">
        <i class="octicon octicon-repo-push"></i>
        <span th:text="#{inventory.actions.in.title}">Scan in</span>
      </a>
      <a class="btn BtnGroup-item btn-large" th:href="@{/inventory/scan/out}">
        <span th:text="#{inventory.actions.out.title}"></span>
        <i class="octicon octicon-repo-pull"></i>
      </a>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
      <p>
        <a class="btn-link" th:href="@{/admin/inventory}"
           th:text="#{navigation.inventoryManagement}">navigation.inventoryManagement</a>
      </p>

      <h3 th:text="#{inventory.history}"></h3>
      <span class="text-gray" th:text="#{passedDays('30')}"></span>
      <canvas class="mt-2 chart" id="logChart"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
      <script th:inline="javascript">
        //<![CDATA[
        let chart = [];
        chart["type"] = /*[[${chart.getType()}]]*/ "line";
        chart["labels"] = /*[[${chart.getLabels()}]]*/ [];
        chart["beginYAtZero"] = /*[[${chart.isBeginYAtZero()}]]*/ false;
        chart["displayLegend"] = /*[[${chart.isLegendDisplay()}]]*/ true;
        chart["datasets"] = /*[[${chart.getDatasets()}]]*/[];
        //]]

        new Chart(document.getElementById("logChart"), {
          type: chart["type"],
          data: {
            labels: chart["labels"],
            datasets: chart["datasets"]
          },
          options: {
            legend: {
              display: chart["displayLegend"]
            },
            scales: {
              xAxes: [{gridLines: {display: false}}],
              yAxes: [{
                gridLines: {drawBorder: false},
                ticks: {
                  padding: 20,
                  beginAtZero: chart["beginYAtZero"]
                }
              }]
            }
          }
        });
      </script>
    </div>

  </div>
  <div class="blankslate mt-3" th:unless="${activeUser}">
    <i class="octicon mega-octicon octicon-key blankslate-icon"></i>
    <i class="octicon mega-octicon octicon-sign-in blankslate-icon"></i>
    <i class="octicon mega-octicon octicon-person blankslate-icon"></i>
    <h3 th:text="#{home.login}">home.login</h3>
    <p th:text="#{home.loginSub}">home.loginSub</p>
    <a autofocus class="btn btn-primary my-3" th:href="@{/login}" th:text="#{navigation.login}">navigation.login</a>
  </div>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>