<!DOCTYPE html>
<html th:lang="${htmlLang}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: htmlHead"></head>
<body class="bg-gray loginpage">
<section th:replace="fragments/header :: baseElements"></section>
<div class="container-xs my-4">
  <h1 class="text-center" th:text="#{application.title}">application.title</h1>
  <p class="f3 text-center" th:text="#{application.subtitle}">application.subtitle</p>


  <form autocomplete="off" class="box-shadow-medium p-3 my-3 bg-white" method="post"
        th:action="@{/login}">
    <div class="flash mb-3 flash-warn" th:if="${error}">
      <button class="flash-close js-flash-close" type="button"><i class="octicon octicon-x"></i>
      </button>
      <i class="octicon octicon-alert"></i>
      <span th:text="#{login.error}">login.error</span>
    </div>

    <div class="input-group">
      <input autofocus class="form-control" id="username" name="username"
             autocomplete="new-password" th:placeholder="#{login.placeholder}" type="password"/>
      <span class="input-group-button">
        <button class="btn" type="submit" th:text="#{navigation.login}">
          navigation.login
        </button>
      </span>
    </div>
  </form>

  <div class="text-center">
    <details class="dropdown details-reset details-overlay d-inline-block">
      <summary class="outline-none">
        <span th:include="fragments/htmlUtils :: flag-icon(${htmlLang})"></span>
        <div class="dropdown-caret"></div>
      </summary>
      <ul class="dropdown-menu dropdown-menu-sw text-left"
          th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
        <li th:each="languageTag : ${supportedLanguageTags}">
          <a class="dropdown-item"
             th:href="@{${urlBuilder.replaceQueryParam('lang', languageTag).build().toUriString()}}"
          >
            <span th:include="fragments/htmlUtils :: flag-icon(${languageTag})"></span>
            <span class="ml-1" th:text="#{language.__${languageTag}__}"></span>
          </a>
        </li>
      </ul>
    </details>
  </div>
</div>

</body>
<footer th:replace="fragments/footer :: sripts"></footer>
</html>