<!DOCTYPE html>
<html th:lang="${htmlLang}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: htmlHead"></head>
<body>
<section th:replace="fragments/header :: baseElements"></section>
<header th:replace="fragments/header :: topBar"></header>

<div class="container-xl clearfix px-3 mt-4">
  <div class="col-lg-3 col-md-4 col-12 float-md-left pr-md-3 pr-xl-6">
    <div th:replace="fragments/userProfile :: userProfileDetails"></div>
  </div>
  <div class="col-lg-9 col-md-8 col-12 float-md-left pl-md-2">
    <nav th:replace="fragments/userProfile :: userProfileNavigation"></nav>
    <form autocomplete="off" method="post" th:action="@{''}" th:object="${profileDto}">
      <input id="userId" name="userId" th:value="${activeUser.getId()}" type="hidden"/>
      <dl class="form-group">
        <dt><label for="name"><span th:text="#{user.name}"></span>:</label></dt>
        <dd class="error" th:errors="*{name}">First name error</dd>
        <dd>
          <input class="form-control" id="name" name="name" th:field="*{name}" type="text"/>
          <div class="note" th:text="#{profile.nameNote}"></div>
        </dd>
      </dl>
      <dl class="form-group">
        <dt><label for="email"><span th:text="#{user.email}"></span>:</label></dt>
        <dd>
          <input class="form-control emailCheck" id="email" name="email" th:field="*{email}"
                 type="text"/>
          <div class="note" th:text="#{profile.emailNote}"></div>
        </dd>
        <dd class="success" th:text="#{users.emailAvailable}"></dd>
        <dd class="error" th:errors="*{email}"></dd>
        <dd class="error" th:text="#{users.emailInUse}"
            th:unless="${#fields.hasErrors('email')}"></dd>
      </dl>
      <dl class="form-group">
        <dt><label for="language"><span th:text="#{language}"></span>:</label></dt>
        <dd>
          <select class="form-control" id="language" name="language" th:field="*{languageTag}">
            <option th:each="languageTag : ${supportedLanguageTags}"
                    th:text="#{language.__${languageTag}__}"
                    th:value="${languageTag}">
            </option>
          </select>
        </dd>
      </dl>

      <input class="btn btn-primary" th:value="#{form.save}" type="submit"/>
    </form>
  </div>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>