<!DOCTYPE html>
<html th:lang="${htmlLang}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: htmlHead"></head>
<body>
<section th:replace="fragments/header :: baseElements"></section>
<header th:replace="fragments/header :: topBar"></header>

<div class="container-lg px-3 p-responsive width-full">
  <div class="Subhead pb-1 my-2">
    <div class="Subhead-heading">Register new user</div>
    <div class="Subhead-description">
      Add the users details below.
    </div>
  </div>

  <form id="userForm">
    <dl class="form-group">
      <dt><label for="firstName">First name</label></dt>
      <dd>
        <input class="form-control" id="firstName" type="text"/>
      </dd>
      <dd class="error">First name error</dd>
    </dl>
    <dl class="form-group">
      <dt><label for="lastName">Last name</label></dt>
      <dd>
        <input class="form-control" id="lastName" type="text"/>
      </dd>
      <dd class="error">Firstname error</dd>
    </dl>
    <dl class="form-group">
      <dt><label for="username">Username</label></dt>
      <dd>
        <input class="form-control" id="username" maxlength="10" type="text"/>
      </dd>
      <dd class="success">Username is available.</dd>
      <dd class="error">Username already in use.</dd>
    </dl>
    <dl class="form-group">
      <dt><label for="email">Email address</label></dt>
      <dd>
        <input class="form-control" id="email" type="text"/>
      </dd>
      <dd class="success">Email address is availbe.</dd>
      <dd class="error">Email address already in use.</dd>
    </dl>
    <dl class="form-group">
      <dt><label for="phonenumber">Phonenumber</label></dt>
      <dd>
        <input class="form-control" id="phonenumber" type="text"/>
      </dd>
      <dd class="error">Phonenumber error</dd>
    </dl>
    <div class="form-checkbox">
      <label><input checked="checked" type="checkbox"/> <span>Active</span></label>
      <p class="note">Mark user as active.</p>
    </div>
    <div class="form-checkbox">
      <label><input checked="checked" type="checkbox"/> <span>Send email</span></label>
      <p class="note">Send the user a welcome email.</p>
    </div>
    <div class="form-actions">
      <button class="btn btn-primary" th:text="#{form.save}" type="submit">form.save</button>
      <a class="btn btn-invisible" th:href="@{'/admin/users'}"
         th:text="#{form.cancel}">form.cancel</a>
    </div>
  </form>

</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
<script type="text/javascript">
  const usernameCheckUrl = "admin/user/usernameCheck";
  const emailCheckUrl = "admin/user/emailCheck";
  const successClass = "successful";
  const errorClass = "errored";

  function check(url, htmlElement) {
    const value = htmlElement.val();
    const formGroup = htmlElement.closest(".form-group");
    formGroup.removeClass(successClass, errorClass);
    if (value.length) {
      $.ajax({
        url: url,
        method: "GET",
        data: "toCheck=" + value,
        success: function (result) {
          formGroup.addClass(result ? successClass : errorClass);
        }
      });
    }
  }

  $("#username").on({
    blur: function () {
      check(usernameCheckUrl, $(this))
    }
  });
  $("#email").on({
    blur: function () {
      check(emailCheckUrl, $(this))
    }
  });
  $("#userForm").on({
    submit: function () {
      const usernameCheck = check(usernameCheckUrl, $("#username"));
      const emailCheck = check(emailCheckUrl, $("#email"));
      return usernameCheck && emailCheck;
    }
  })
</script>
</html>