<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: htmlHead"></head>
<body>
<section th:replace="fragments/header :: baseElements"></section>
<header th:replace="fragments/header :: topBar"></header>

<div class="container-lg px-3 p-responsive width-full">

  <div class="blankslate" th:if="${activeUser}">
    <h3 class="mb-1" th:text="#{home.greeting(${activeUser.getFirstName()})}">
      home.greeting
    </h3>
    <p th:text="#{home.actions}">home.actions</p>
    <div class="BtnGroup my-3">
    <a class="btn BtnGroup-item" href="#" th:text="#{inventory.actions.in.title}">Scan in</a>
    <a class="btn BtnGroup-item" href="#" th:text="#{inventory.actions.out.title}">Scan out</a>
    </div>
    <p sec:authorize="hasAuthority('ADMIN')">
      <a class="btn-link" th:href="@{/admin/inventory}" th:text="#{navigation.inventoryManagement}">navigation.inventoryManagement</a>
    </p>
  </div>

  <div class="blankslate mt-3" th:unless="${activeUser}">
    <i class="octicon mega-octicon octicon-key blankslate-icon"></i>
    <i class="octicon mega-octicon octicon-person blankslate-icon"></i>
    <h3 th:text="#{home.login}">home.login</h3>
    <p th:text="#{home.loginSub}">home.loginSub</p>
    <a class="btn btn-primary my-3" th:href="@{/login}" th:text="#{navigation.login}">navigation.login</a>
  </div>
</div>


</body>

<footer th:replace="fragments/footer :: footer"></footer>
</html>