<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: htmlHead"></head>
<body>
<section th:replace="fragments/header :: baseElements"></section>
<header th:replace="fragments/header :: topBar"></header>

<div class="container-lg p-3 p-responsive width-full">

  <div class="blankslate mt-3">
    <i class="octicon mega-octicon octicon-repo-push blankslate-icon"></i>
    <h3 th:text="#{inventory.actions.in.title}">in.title</h3>
    <p th:text="#{inventory.actions.in.description}">inventory.actions.in.description</p>

    <form method="post" th:action="@{/inventory/scan/in}">
      <div class="flash mb-3"
           th:classappend="'flash-' + ${frmFeedback.getType().getCssClass()}"
           th:if="${frmFeedback}">
        <button class="flash-close js-flash-close" type="button">
          <i class="octicon octicon-x"></i>
        </button>
        <span th:text="#{${frmFeedback.getMessage()}}">feedback.message</span>
      </div>
      <div class="input-group">
        <input placeholder="#" autofocus class="form-control" name="itemUuid" type="text"/>
        <span class="input-group-button">
        <button class="btn" type="submit" th:text="#{inventory.actions.in.title}">
          inventory.actions.in.title
        </button>
      </span>
      </div>
    </form>
  </div>
  <div th:replace="fragments/logs :: recentLogs"></div>
</div>


</body>

<footer th:replace="fragments/footer :: footer"></footer>
</html>