<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>VIM - Login</title>
</head>
<body>
<p th:if="${error}" th:text="${error}"></p>
<form method="post" th:action="@{/login}">
  <label for="username">Login ID: <input id="username" name="username"
                                         placeholder="Scan your code or enter your username"
                                         type="password"/></label>
  <input type="submit" value="Login"/>
</form>
</body>
</html>