<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: htmlHead"></head>
<body>
<div class="container flex-centered">
  <div class="columns text-center">
    <div class="column col-mx-auto col-auto">

      <div class="hero">
        <div class="hero-body">
          <h1 th:text="#{application.title}">application.title</h1>
          <p th:text="#{application.subtitle}">application.subtitle</p>
        </div>
      </div>

      <div class="empty">
        <div class="empty-icon">
          <i class="icon icon-3x icon-people"></i>
        </div>
        <p class="empty-title h5" th:text="#{login.title}">login.title</p>
        <p class="empty-subtitle" th:text="#{login.subtitle}">login.subtitle</p>
        <div class="toast toast-error my-2" th:if="${error}">
          <button class="btn btn-clear float-right"></button>
          <span th:text="#{login.error}">login.error</span>
        </div>

        <form method="post" th:action="@{/login}">
          <div class="input-group">
            <input autofocus class="form-input" id="username" name="username"
                   th:placeholder="#{login.placeholder}" type="password"/>
            <input class="btn btn-primary input-group-btn" type="submit" value="Login"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
<footer th:replace="fragments/footer :: applicationFooter"></footer>
</html>