<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: htmlHead"></head>
<body class="bg-gray loginpage">
<section th:replace="fragments/header :: baseElements"></section>
<div class="container-xs my-4">
  <h1 class="text-center" th:text="#{application.title}">application.title</h1>
  <p class="f3 text-center" th:text="#{application.subtitle}">application.subtitle</p>


  <form class="box-shadow-medium p-3 my-3 bg-white" method="post" th:action="@{/login}">
    <div class="flash mb-3 flash-warn" th:if="${error}">
      <button class="flash-close js-flash-close" type="button"><i class="octicon octicon-x"></i>
      </button>
      <span class="octicon octicon-alert"> </span>
      <span th:text="#{login.error}">login.error</span>
    </div>

    <div class="input-group">
      <input autofocus class="form-control" id="username" name="username"
             th:placeholder="#{login.placeholder}" type="password"/>
      <span class="input-group-button">
        <button class="btn" type="submit">Login</button>
      </span>
    </div>
  </form>
</div>

</body>
<footer th:replace="fragments/footer :: sripts"></footer>
</html>