<!DOCTYPE html>
<html th:lang="${htmlLang}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: htmlHead"></head>
<body>
<section th:replace="fragments/header :: baseElements"></section>
<header th:replace="fragments/header :: topBar"></header>

<div class="container-xl clearfix px-3 mt-4">
  <div class="col-lg-3 col-md-4 col-12 float-md-left pr-md-3 pr-xl-6">
    <div th:replace="fragments/userProfile :: userProfileDetails"></div>
  </div>
  <div class="col-lg-9 col-md-8 col-12 float-md-left pl-md-2">
    <nav th:replace="fragments/userProfile :: userProfileNavigation"></nav>
    <div th:replace="fragments/userProfile :: userOverview"></div>
  </div>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>