<!DOCTYPE html>
<html th:lang="${htmlLang}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: htmlHead"></head>
<body>
<section th:replace="fragments/header :: baseElements"></section>
<header th:replace="fragments/header :: topBar"></header>

<div class="container-lg p-3 p-responsive width-full">

  <div class="Subhead pb-1 my-2">
    <div class="Subhead-heading" th:text="#{inventory.history}"></div>
    <div class="Subhead-actions">
      <a class="btn btn-invisible"
         th:href="@{/admin/inventory/}"
         th:text="#{form.cancel}">
      </a>
    </div>
  </div>

  <div class="Box">
    <div class="Box-header d-flex flex-justify-between">
      <b th:text="${inventoryItem.getDescription()}"></b>
    </div>
    <!--/*@thymesVar id="dataTable" type="be.beanleaf.datatable.DataTable<be.beanleaf.vim.domain.entities.InventoryLog>"*/-->
    <div class="tableRows" th:with="tableData=${dataTable.getData()}">
      <div class="blankslate blankslate-spacious blankslate-large border-0"
           th:unless="${tableData.size() > 0}">
        <i class="octicon mega-octicon blankslate-icon octicon-issue-opened"></i>
        <h3 th:text="#{form.noResults}">form.noResults</h3>
      </div>
      <div class="Box-body">
        <div th:each="log: ${tableData}"
             th:if="${tableData.size() > 0}"
             th:with="InventoryDirection=${T(be.beanleaf.vim.domain.InventoryDirection)}">
          <div class="TimelineItem">
            <div class="TimelineItem-badge text-white"
                 th:classappend="${log.getInventoryDirection().equals(InventoryDirection.IN) ? 'bg-green' : 'bg-orange-5'}"
            >
              <i class="ml-1 octicon"
                 th:classappend="${log.getInventoryDirection().equals(InventoryDirection.IN) ? 'octicon-repo-push' : 'octicon-repo-pull'}"></i>
            </div>
            <div class="TimelineItem-body"
                 th:with="user=${log.getUser()},item=${log.getInventoryItem()}">
              <span
                  th:utext="#{inventory.history.in(${user.getShortName()},${item.getDescription()},${#dates.format(log.getTimestamp(), 'dd/MM/YYYY, HH:mm')})}"></span>
            </div>
          </div>
          <div class="TimelineItem-break ml-0" th:if="!${#strings.isEmpty(log.comment)}"></div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/dataTable :: dataTableNavigation"></div>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>