<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: htmlHead"></head>
<body>
<section th:replace="fragments/header :: baseElements"></section>
<header th:replace="fragments/header :: topBar"></header>

<div class="container-lg p-3 p-responsive width-full">
  <div class="Subhead pb-1 my-2">
    <div class="Subhead-heading" th:text="#{inventory.allItems.title}"></div>
    <div class="Subhead-actions">
      <a th:href="@{/admin/inventory/new}" type="button" class="btn btn-sm btn-primary">
        <i class="octicon octicon-plus text-white"></i>
        <span th:text="#{inventory.newItem}">inventory.newItem</span>
      </a>
    </div>
    <div class="Subhead-description" th:text="#{inventory.allItems.description}">
      inventory.allItems.description
    </div>
  </div>

  <div th:replace="fragments/dataTable :: dataTable"></div>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>