<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="dialog Box anim-fade-in fast box-shadow-large hidden" id="inventoryItemForm"
     th:fragment="inventoryItemForm">
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right js-box-close">
      <i class="octicon octicon-x"></i>
    </button>
    <h3 class="Box-title" th:text="#{inventory.newItem}">inventory.newItem</h3>
  </div>
  <div class="Box-body overflow-auto">
    <p th:text="#{inventory.newitemDescription}">inventory.newitemDescription</p>
    <!--/*@thymesVar id="inventoryItemDto" type="be.vizit.vim.app.dto.InventoryItemDto"*/-->
    <form method="post" th:action="@{/admin/inventory}" th:object="${inventoryItemDto}">
      <dl class="form-group">
        <dt><label for="item-category" th:text="#{inventory.item.category}">item.category</label>
        </dt>
        <dd>
          <select th:field="*{itemCategory}" class="form-select" id="item-category">
            <option th:text="#{form.select.default}" value="">form.select.default</option>
            <!--/*@thymesVar id="itemCategories" type="java.util.List<be.vizit.vim.domain.entities.ItemCategory>"*/-->
            <option th:each="category: ${itemCategories}"
                    th:value="${category.getId()}"
                    th:text="${category.getDescription()}">
              category.getShortCode()
            </option>
          </select>
        </dd>
        <dd class="error" th:if="${#fields.hasErrors('itemCategory')}" th:errors="*{itemCategory}"></dd>
        <dt><label for="item-description"
                   th:text="#{inventory.item.description}">item.description</label></dt>
        <dd><input th:field="*{description}" class="form-control" maxlength="255" type="text"
                   id="item-description"/></dd>
        <dd class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></dd>
        <div class="form-checkbox">
          <label><input type="checkbox" checked="checked" th:field="*{active}"/> <span
              th:text="#{inventory.item.active}">inventory.item.active</span> </label>
          <p class="note" th:text="#{inventory.item.activeDescription}">
            inventory.item.activeDescription</p>
        </div>
      </dl>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" th:text="#{form.save}">form.save</button>
        <button type="button" class="btn js-box-close" th:text="#{form.cancel}">form.cancel</button>
      </div>
    </form>
  </div>
</div>
</html>