<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: htmlHead"></head>
<body>
<header th:replace="fragments/header :: topBar"></header>

<div class="container-lg px-3 p-responsive width-full">
  <div class="Subhead pb-1 my-2">
    <div class="Subhead-heading" th:text="#{inventory.allItems.title}"></div>
    <div class="Subhead-actions">
      <button type="button" class="btn btn-sm btn-primary" onclick="addOverlay(); $('#inventoryItemForm').show()">
        <i class="octicon octicon-plus text-white"></i>
        <span th:text="#{inventory.newItem}">inventory.newItem</span>
      </button>
    </div>
    <div class="Subhead-description" th:text="#{inventory.allItems.description}">
      inventory.allItems.description
    </div>
  </div>


  <div th:replace="fragments/forms/inventory :: inventoryItemForm"></div>

  <div class="rounded-border">
    <table class="vimTable">
      <thead>
      <tr>
        <th>#</th>
        <th th:text="#{inventory.item.category}">item.category</th>
        <th th:text="#{inventory.item.name}">item.name</th>
        <th th:text="#{inventory.item.description}">item.description</th>
        <th th:text="#{actions}"></th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="item: ${itemsList}">
        <td th:text="${item.getId()}">item.getId()</td>
        <td th:text="${item.getItemCategory().getShortCode()}">
          item.getItemCategory().getShortCode()
        </td>
        <td th:text="${item.getDescription()}">item.getDescription()</td>
        <td>
          <button class="btn-octicon" type="button"><i class="octicon octicon-pencil"></i></button>
          <button class="btn-octicon btn-octicon-danger" type="button"><i
              class="octicon octicon-trashcan"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


</body>

<footer th:replace="fragments/footer :: footer"></footer>
</html>