@import "variables";
@import "github-primer";

footer a.icon {
  color: $gray-400;

  &:hover {
    color: $gray-500;
  }
}

.loginpage {
  form {
    background-color: #fff;
  }
}

.topbar {
  background-color: $gray-900;
  padding: 10px 0;

  .logo {
    font-size: 32px;
  }

  a.navlink {
    font-weight: $fw-bold;
    color: white;

    &:hover {
      text-decoration: none;
      color: $white-fade-85;
    }

    &:not(:last-child) {
      margin-right: 16px; // .mr-3
    }
  }

  .search {
    input {
      min-width: 200px;
      transition: .2s ease-in-out;
      transition-property: min-width;
      background: $gray-800;
      color: $gray-200;
      border: none;

      &:focus {
        min-width: 300px;
        outline: none;
        background: $white;
        color: $gray-900;
      }
    }
  }
}

.pagehead {
  border-bottom: 1px solid $gray-200;
}

.rounded-border {
  border: 1px solid $gray-300;
  border-radius: 2px;
}

table.vimTable {
  width: 100%;

  td, th {
    border-left: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
    padding: 3px 7px;

    &:first-child {
      border-left: none;
    }
  }

  tr:hover td {
    background-color: $gray-100;
  }

  tr:last-child td {
    border-bottom: none;
  }

  thead {
    background: $gray-100;

    th {
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }
  }

  tfoot {
    font-weight: bold;
  }
}

.dialog {
  position: fixed;
  margin: 10vh auto;
  top: 0;
  z-index: 999;
  max-height: 80vh;
  max-width: 90vw;
  padding: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-group.errored {
  @extend .mb-6;
}

details:not([open]) > :not(summary) {
  display: none !important;
}

.select-menu-button::after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: -2px;
  content: "";
  border: 4px solid transparent;
  border-top-color: transparent;
  border-top-color: currentcolor;
}

.reset-query {
  color: $gray-600;
  font-weight: bold;

  .icon {
    @extend .mr-1;
    padding: 1px 0 1px 3px;
    border-radius: 3px;
    background-color: $gray-600;
    color: $white;
  }

  &:hover {
    color: $blue-500;
    text-decoration: none;

    .icon {
      background-color: $blue-500;
    }
  }
}

.text-capitalize {
  text-transform: capitalize;
}

.outline-none {
  outline: none;
}