@import "variables";

footer a.icon {
  color: $gray-400;

  &:hover {
    color: $gray-500;
  }
}

.loginpage {
  form {
    background-color: #fff;
  }
}

.topbar {
  background-color: $gray-900;
  padding: 10px 0;

  .logo {
    font-size: 32px;
  }

  a.navlink {
    font-weight: $fw-bold;
    color: white;

    &:hover {
      text-decoration: none;
      color: $white-fade-85;
    }

    &:not(:last-child) {
      margin-right: 16px; // .mr-3
    }
  }

  .search {
    input {
      min-width: 200px;
      transition: .2s ease-in-out;
      transition-property: min-width;
      background: $gray-800;
      color: $gray-200;
      border: none;

      &:focus {
        min-width: 300px;
        outline: none;
        background: $white;
        color: $gray-900;
      }
    }
  }
}

.pagehead {
  border-bottom: 1px solid $gray-200;
}

.rounded-border {
  border: 1px solid $gray-300;
  border-radius: 2px;
}

table.vimTable {
  width: 100%;

  td, th {
    border-left: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
    padding: 3px 7px;

    &:first-child {
      border-left: none;
    }
  }

  tr:hover td {
    background-color: $gray-100;
  }

  tr:last-child td {
    border-bottom: none;
  }

  thead {
    background: $gray-100;

    th {
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }
  }

  tfoot {
    font-weight: bold;
  }
}