<!DOCTYPE HTML>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="activeUser" type="be.beanleaf.vim.domain.entities.User"*/-->
<head th:fragment="htmlHead" th:remove="tag">
  <!--/*@thymesVar id="defaultEncoding" type="java.lang.String"*/-->
  <meta th:charset="${defaultEncoding}">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title th:text="#{application.title} + ' - ' + #{application.subtitle}">
    application.title - application.subtitle
  </title>
  <link rel="stylesheet" th:href="@{/css/vim.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/octicons/4.3.0/build/font/octicons.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/flag-icon-css/2.4.0/css/flag-icon.css}"/>
  <link rel="icon" th:href="@{/favicon.ico}"/>
</head>

<section th:fragment="baseElements" th:if="${toastMessage != null or feedbackmessage != null}">
  <!--/*@thymesVar id="toastMessage" type="be.beanleaf.vim.app.utils.ToastMessage"*/-->
  <div th:if="${toastMessage}" class="p-1 position-fixed bottom-0 left-0 mb-3 ml-3">
    <div class="Toast Toast--animateIn"
         th:classappend="'Toast--' + ${toastMessage.getType().getCssClass()}">
      <span class="Toast-icon"><i class="octicon"
                                  th:classappend="'octicon-' + ${toastMessage.getType().getIconClass()}"></i></span>
      <span class="Toast-content" th:text="#{${toastMessage.getMessagePropertie()}}">toastMessage.getMessage()</span>
      <button th:if="${toastMessage.isCloseable()}" class="Toast-dismissButton js-toast-close"><i
          class="octicon octicon-x"></i></button>
    </div>
  </div>

  <!--/*@thymesVar id="feedbackmessage" type="be.beanleaf.vim.app.utils.Feedbackmessage"*/-->
  <div class="flash position-fixed top-0 m-3 z-99" th:if="${feedbackmessage}"
       th:classappend="'flash-' + ${feedbackmessage.getType().getCssClass()}">
    <button class="flash-close js-flash-close" th:if="${feedbackmessage.isCloseable()}"
            type="button"><i class="octicon octicon-x"></i></button>
    <p>
      <span th:text="${feedbackmessage.getMessage()}" th:unless="${feedbackmessage.isValidation()}">Feedback message</span>
      <span th:if="${feedbackmessage.isValidation()}"
            th:text="#{__${feedbackmessage.getMessage()}__}">Feedback message</span>
    </p>
    <p th:if="${!feedbackmessage.isValidation() and !#strings.isEmpty(feedbackFooter)}"
       th:text="${feedbackFooter}"
       th:with="feedbackFooter=#{error.footer}">
    </p>
    <pre th:if="${feedbackmessage.getStackTrace()}"><code
        th:text="${feedbackmessage.getStackTrace()}"></code></pre>
  </div>
</section>

<!-- Navigation -->
<header th:fragment="topBar" th:with="webUtils=${T(be.beanleaf.vim.app.utils.WebUtils)}">
  <div class="Header flex-wrap flex-lg-nowrap p-responsive">
    <div class="Header-item d-none d-lg-flex">
      <a class="Header-link" th:href="@{/}">
        <i class="text-white logo mega-octicon octicon-repo-clone"></i>
      </a>
    </div>
    <div class="Header-item d-lg-none">
      <button class="Header-link btn-link" id="hamburger-toggle">
        <i class="octicon octicon-three-bars"></i>
      </button>
    </div>
    <div
        class="Header-item Header-item--full flex-column flex-lg-row width-full flex-order-2 flex-lg-order-none mr-0 mr-lg-3 mt-3 mt-lg-0 d-none d-lg-flex"
        id="hamburger-nav">
      <div
          class="header-search flex-self-stretch flex-lg-self-auto mr-0 mr-lg-3 mb-3 mb-lg-0 position-relative"
          sec:authorize="hasAuthority('ADMIN')">
        <form method="get" th:action="@{/admin/inventory/history/}">
          <input autocomplete="off" class="form-control input-block input-sm"
                 name="q"
                 th:placeholder="#{inventory.history.search}" type="text"/>
        </form>
      </div>
      <nav class="d-flex flex-column flex-lg-row flex-self-stretch flex-lg-self-auto">
        <a class="Header-link  mr-0 mr-lg-3 py-2 py-lg-0 border-top border-lg-top-0 border-white-fade-15"
           th:href="@{/}"
           th:text="#{navigation.home}">navigation.home</a>
        <a class="Header-link d-block d-lg-none py-2 py-lg-0 border-top border-lg-top-0 border-white-fade-15"
           th:href="@{/login}"
           th:text="#{navigation.login}"
           th:unless="${activeUser}">navigation.login</a>
        <a class="Header-link  mr-0 mr-lg-3 py-2 py-lg-0 border-top border-lg-top-0 border-white-fade-15"
           sec:authorize="hasAuthority('ADMIN')"
           th:href="@{/admin/inventory}"
           th:text="#{navigation.inventoryManagement}">navigation.inventoryManagement</a>
        <a class="Header-link  mr-0 mr-lg-3 py-2 py-lg-0 border-top border-lg-top-0 border-white-fade-15"
           sec:authorize="hasAuthority('ADMIN')"
           th:href="@{/admin/users}"
           th:text="#{navigation.userManagement}">navigation.userManagement</a>
        <a class="Header-link  mr-0 mr-lg-3 py-2 py-lg-0 border-top border-lg-top-0 border-white-fade-15"
           sec:authorize="hasAuthority('ADMIN')"
           th:href="@{/admin/events/}"
           th:if="${activeUser}"
           th:text="#{navigation.eventManagement}">navigation.eventManagement</a>
        <a class="Header-link mr-0 mr-lg-3 py-2 py-lg-0 border-top border-lg-top-0 border-white-fade-15"
           sec:authorize="hasAuthority('ADMIN')"
           th:href="@{/admin/venues/}"
           th:text="#{navigation.venueManagement}">navigation.venueManagement</a>

        <a class="Header-link d-block d-lg-none py-2 py-lg-0 border-top border-lg-top-0 border-white-fade-15"
           th:href="@{/inventory/scan/in}" th:if="${activeUser}"
           th:text="#{inventory.actions.in.title}">Scan in</a>
        <a class="Header-link d-block d-lg-none py-2 py-lg-0 border-top border-lg-top-0 border-white-fade-15"
           th:href="@{/inventory/scan/out}" th:if="${activeUser}"
           th:text="#{inventory.actions.out.title}">Scan out</a>

        <a class="Header-link d-block d-lg-none py-2 py-lg-0 border-top border-lg-top-0 border-white-fade-15"
           th:href="@{/profile}" th:if="${activeUser}">
          <img class="v-align-middle" height="16"
               th:src="${webUtils.getGravatarImgSrc(activeUser.getEmailAddress(),16, 'identicon')}"
               width="16"/>
          <span th:text="${activeUser.getUsername()}">navigation.profile</span></a>
        <a class="Header-link d-block d-lg-none py-2 py-lg-0 border-top border-lg-top-0 border-white-fade-15"
           th:href="@{/logout}" th:if="${activeUser}">
          <i class="octicon octicon-sign-out"></i>
          <span th:text="#{navigation.logout}">navigation.logout</span></a>
      </nav>
    </div>
    <div class="Header-item Header-item--full flex-justify-center d-lg-none position-relative">
      <a class="Header-link" th:href="@{/}">
        <i class="text-white logo octicon octicon-repo-clone"></i>
      </a>
    </div>
    <div class="Header-item mr-0 mr-lg-3 flex-order-1 flex-lg-order-none d-lg-none">
      <a class="Header-link" th:href="@{/profile}" th:if="${activeUser}">
        <img class="mr-2 v-align-middle" height="20"
             th:src="${webUtils.getGravatarImgSrc(activeUser.getEmailAddress(),20, 'identicon')}"
             width="20"/>
      </a>
      <a class="Header-link" th:href="@{/login}" th:unless="${activeUser}">
        <i class="octicon octicon-sign-in"></i>
      </a>
    </div>
    <div class="Header-item position-relative mr-0 d-none d-lg-flex">
      <a class="Header-link hide-sm hide-md"
         th:href="@{/login}"
         th:text="#{navigation.login}"
         th:unless="${activeUser}">navigation.login</a>
      <details class="dropdown details-reset details-overlay d-inline-block" th:if="${activeUser}">
        <summary class="Header-link outline-none">
          <img class="mr-2 v-align-middle" height="20"
               th:src="${webUtils.getGravatarImgSrc(activeUser.getEmailAddress(),20, 'identicon')}"
               width="20"/>
          <div class="dropdown-caret"></div>
        </summary>
        <ul class="dropdown-menu dropdown-menu-sw text-left">
          <li><a class="dropdown-item btn-icon" th:href="@{/logout}"
                 th:label="#{navigation.logout}">
            <i class="octicon octicon-sign-out"></i>
            <span th:text="#{navigation.logout}"></span>
          </a></li>
          <li class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" th:href="@{/profile}" th:text="#{navigation.profile}">
              My profile</a>
          </li>
        </ul>
      </details>
    </div>

  </div>
</header>

</html>