<!DOCTYPE HTML>
<html th:lang="${htmlLang}" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="selectMenu">
  <details class="details-reset details-overlay"
           th:with="queryString=${#httpServletRequest.queryString},
  urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
    <summary aria-haspopup="true"
             class="btn-link text-gray-dark no-underline select-menu-button outline-none"
             th:text="${selectActionText}+' '">
      selectActionText
    </summary>
    <div class="SelectMenu">
      <div class="SelectMenu-modal">
        <header class="SelectMenu-header">
          <h3 class="SelectMenu-title" th:text="${selectTitle}">selectTitle</h3>
        </header>
        <!--/*@thymesVar id="filter" type="be.beanleaf.vim.app.utils.SelectFilter"*/-->
        <div class="SelectMenu-list"
             th:with="parameterName=${filter.getParameterName()}">
          <a class="SelectMenu-item"
             th:each="filterObject: ${filter.getObjectList()}"
             th:href="${urlBuilder.replaceQueryParam(filter.getParameterName(), filter.getValue(filterObject)).replaceQueryParam('page',null).build().toUriString()}"
             th:text="${filter.getText(filterObject)}">
            filterObject.getText()
          </a>
        </div>
      </div>
    </div>
  </details>
</div>

<span th:fragment="flag-icon(languageTag)">
  <th:block th:switch="${languageTag}">
    <span class="flag-icon flag-icon-nl" th:case="'nl'"></span>
    <span class="flag-icon flag-icon-gb" th:case="'en'"></span>
  </th:block>
</span>
</html>