<!DOCTYPE HTML>
<html th:lang="${htmlLang}" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="recentLogs" type="java.util.List<be.beanleaf.vim.domain.entities.InventoryLog>"*/-->
<!--/*@thymesVar id="log" type="be.beanleaf.vim.domain.entities.InventoryLog"*/-->
<div th:fragment="recentLogs"
     th:with="ItemStatus=${T(be.beanleaf.vim.domain.ItemStatus)}, defectUrl=${T(be.beanleaf.vim.app.controller.InventoryController).URL_DEFECT},
          InventoryDirection=${T(be.beanleaf.vim.domain.InventoryDirection)}">
  <div class="Box">
    <div class="Box-header">
      <b th:text="#{inventory.recentlyLogged}">
        inventory.recentlyLogged</b>
    </div>
    <div class="tableRows">
      <div class="blankslate blankslate-narrow blankslate-large border-0"
           th:unless="${recentLogs.size() > 0}">
        <i class="octicon mega-octicon blankslate-icon octicon-info"></i>
        <h3 th:text="#{inventory.logs.none}">inventory.logs.none</h3>
      </div>
      <div class="Box-row Box-row Box-row--hover-gray p-0 mt-0"
           th:each="log: ${recentLogs}"
           th:if="${recentLogs.size() > 0}"
           th:with="item=${log.getInventoryItem()}">
        <div class="d-table table-fixed width-full">
          <div class="float-left col-8 lh-condensed py-2 px-3">
          <span class="v-align-middle h5"
                th:text="${item.getDescription()}">
          </span><span class="labels lh-default">
            <span class="Label Label--orange"
                  th:if="${item.getCurrentStatus().equals(ItemStatus.DEFECT)}"
                  th:text="#{inventory.item.status.defect}"></span>
          </span>
            <div class="mt-1 text-small text-gray">
              <i class="octicon octicon-clock"></i>
              <span th:text="${#dates.format(log.getTimestamp(), 'dd MMMM YYYY, HH:mm')}"></span>
              <span class="tooltipped tooltipped-n"
                    th:attr="aria-label=#{inventory.item.brand}"
                    th:unless="${#strings.isEmpty(item.getBrand())}">
              <i class="ml-2 octicon octicon-tag"></i>
              <span th:text="${item.getBrand()}"></span>
            </span>
            </div>
          </div>
          <div class="float-right col-3 pt-2 d-flex flex-justify-between">
            <span class="col-6" th:text="${item.getItemCategory().getDescription()}"></span>
            <div class="col-6 pr-2"
                 th:if="${log.getInventoryDirection().equals(InventoryDirection.IN)}">
              <button class="btn-octicon btn-octicon-danger float-right openBoxForm"
                      th:data-url="${defectUrl + '/' + log.getId()}"
                      th:unless="${item.getCurrentStatus().equals(ItemStatus.DEFECT)}">
                <i class="octicon octicon-comment"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="boxForm"></div>
</div>
</html>