<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="clearfix mb-2" th:fragment="userProfileDetails">
  <div class="float-left col-3 col-md-12 pr-3 pr-md-0">
    <a class="d-block tooltipped tooltipped-s" th:attr="aria-label=#{profile.changeAvatar}"
       href="https://gravatar.com"
       target="_blank"
       th:with="webUtils=${T(be.beanleaf.vim.app.utils.WebUtils)}">
      <img class="avatar width-full height-full" height="260"
           th:src="${webUtils.getGravatarImgSrc(user.getEmailAddress(), 260, 'identicon')}"
           width="260">
    </a>
  </div>
  <div class="float-left col-9 col-md-12 pl-2 pl-md-0"
       th:with="UserRole=${T(be.beanleaf.vim.domain.UserRole)}"
  >
    <h1 th:text="${user.getName()}"></h1>
    <h2 class="text-gray text-normal" th:text="${user.getUsername()}"></h2>
    <span class="State"
          th:if="${user.getUserRole().getId() > 1}"
          th:text="#{user.role.__${user.getUserRole().name()}__}"></span>
  </div>
</div>
<nav class="UnderlineNav"
     th:fragment="userProfileNavigation"
     th:with="url=${#httpServletRequest.requestURI}">
  <div class="UnderlineNav-body">
    <a class="UnderlineNav-item"
       th:classappend="${#strings.equals(url, '/profile') ? 'selected' : ''}"
       th:href="@{/profile/}"
       th:text="#{profile.overview}">profile.overview</a>
    <a class="UnderlineNav-item"
       th:classappend="${#strings.containsIgnoreCase(url, 'delete') ? 'selected' : ''}"
       th:href="@{/profile/delete}"
       th:text="#{profile.delete}">profile.delete</a>
  </div>
</nav>

</body>
</html>